<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <h2>Cadastro Produtos</h2>
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal" onclick="clearTextBoxPrd();">Novo Produto</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Produto Descrição
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Ação
                </th>
            </tr>
        </thead>
        <tbody class="tbody" id="tblProduto">
        </tbody>
    </table>
    <ul class="pagination float-right" id="pagination">
    </ul>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Novo Produto</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form id="frmCategoria">
                    <div class="form-group">
                        <label for="ProdutoId">ID</label>
                        <input type="text" class="form-control" id="ProdutoId" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Produto">Produto Descrição</label>
                        <input type="text" class="form-control" id="Produto" placeholder="Produto" />
                    </div>
                    <div class="form-group">
                        <label for="Valor">Preço</label>
                        <input type="number" class="form-control" id="Valor" placeholder="Valor" />
                    </div>
                    <div class="form-group">
                        <label for="Categoria">Categoria Produto</label>
                        <select class="form-control" id="DdlCategoria" placeholder="Categoria" >
                            <option>Teste</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddPrd();">Novo</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="UpdatePrd();">Alterar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/scripts/Produto.js"></script>
<script src="~/scripts/Categoria.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>