@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Seja Bem Vindo</h1>
        <p>Avaliação técnica desenvolvida em ASP NET Core MVC</p>
        <p>Banco de dados MySql</p>
        <p>Camada de acesso ao banco utilizando Entity Framework Core</p>
    </div>
