@{
    ViewData["Title"] = "Home Page";
}



    <div class="jumbotron">
        <h1 class="display-4">Seja Bem Vindo!!</h1>
        <p class="lead">Aplicação de cadastro de Categorias e seus Produtos associados, com CRUD básico.</p>
        <hr class="my-4">
        <p>Avaliação técnica desenvolvida em ASP NET Core MVC</p>
        <p>Banco de dados MySql</p>
        <p>Camada de acesso ao banco utilizando Entity Framework Core</p>

    </div>

